<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mafia</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.min.css">
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<script>
    var socket = io();
    socket.emit('nameChange', {});
    socket.on('gameStarts', function(game) {
        console.log("Prepare! Game starts");
    });
</script>
    {{{body}}}

    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>