<section id="death-touch-area" style="width: 100%; height: 1000px; background: rgb(97, 97, 97);">
    <div style="width: 100%; padding-top: 200px;" class="text-center">
        <img id="skull" src="/images/skull.svg" alt="skull" style="width: 350px"><br>
        <h2 id="death-info" style="color: rgb(0, 0, 0);">You have been killed.</h3>
    </div>
</section>