<script type="text/javascript" src="/js/socket-client/peasant-connection.js"></script>
{{> game_params_js_context}}
{{> ingame_params_context}}

<div id="role-screen" class="ascreen hidden">
    {{> role_screen }}
</div>
<div id="sleep-screen" class="ascreen hidden">
    {{> sleep_screen }}
</div>
<div id="main-screen" class="ascreen hidden">
    {{> main_screen }}
</div>
<div id="ready-screen" class="ascreen hidden">
    {{> ready_screen }}
</div>

<script type="text/javascript" src="/js/gamescreens.js"></script>