<header class="py-2">
</header>

{{> game_params_js_context}}

<script type="text/javascript" src="/js/socket-client/socket-client-lobby.js"></script>

<section class="mt-5">
  <div class="container text-center">
    <p> The room code is <b>{{ game }}</b> </p>
    <p> Your name is John Proctor {{ name }} </p>
    <div class="row justify-content-center">
      <div syleclass="col-auto align-self-center">
        <div class="input-group mb-3">
          <input id="player-name-input" type="text" class="form-control small-width" placeholder="Enter name" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="player-name-change" class="btn btn-outline-secondary" type="button">Change</button>
          </div>
        </div>
      </div>
    </div>

    <ul id="joined-players-list" class="list-group mt-2">
      <li class="list-group-item">Terry Pratchet</li>
      <li class="list-group-item">John Travolta</li>
      <li class="list-group-item">Ryan Reynolds</li>
      <li class="list-group-item">Sarah Jessica Parker</li>
      <li class="list-group-item">Ivo Timev</li>
    </ul>
  </div>
</section>