<section class="py-5 px-3">
    <h2 id="current-event text-center">Town Gathering</h2>
    <div id="players-display">
      <div class="list-group mt-2">
        {{#each playersData}}            
          <a id="{{ playerID }}" href="#" onclick="setActive(this)" style="color:black" class="list-group-item villagePeople">{{ name }}</a>
        {{/each}}
      </div>
    </div>
    <div class="row justify-content-center py-3">
        <div class="col-auto">
            <div class="clock game-clock"></div>
        </div>
    </div>
    <div class="text-center py-3">
    <button id="view-role-desciption" class="btn btn-outline-secondary" type="button">Role Description</button> 
</div>

</section>