<script type="text/javascript" src="/js/socket-client/socket-client.js"></script>
<script type="text/javascript" src="/js/socket-client/socket-client-lobby.js"></script>

<section class="py-5 px-3">
    <h2 id="current-event text-center">Town Gathering</h2>
    <div id="players-display">
      <ul class="list-group mt-2">            
      <li class="list-group-item">Terry Pratchet</li>
      <li class="list-group-item">John Travolta</li>
      <li class="list-group-item">Ryan Reynolds</li>
      <li class="list-group-item">Sarah Jessica Parker</li>
      <li class="list-group-item">Ivo Timev</li>
    </ul>
    </div>
    <div class="row justify-content-center py-3">
        <div class="col-auto">
            <div class="clock game-clock"></div>
        </div>
    </div>
    <div class="text-center py-3">
    <button id="view-role-desciption" class="btn btn-outline-secondary" type="button">Role Description</button> 
</div> 
</section>