<section id="sleep-touch-area" style="width: 100%; height: 1000px; background: #AA6DA3;">
    <div style="width: 100%; padding-top: 200px;" class="text-center">
        <img id="open-eye-svg" src="/images/eye.svg" alt="open eye" style="width: 150px"><br>
        <img id="closed-eye-svg" class="hidden" src="/images/eye-closed.svg" alt="closed eye" style="width: 150px"><br>
        <h3 id="sleep-info" style="color: #6C0E7A;">Touch screen when you are asleep.</h3>
    </div>
</section>
