<div id="game_role_screen" class="ascreen">
    {{> role_screen }}
</div>
<div id="sleep_screen" class="ascreen">
    {{> sleep_screen }}
</div>
<div id="day_screen" class="ascreen">
    {{> main_screen }}
</div>

{{> footer}}